// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #9377c9;
$value-color:       #ffffff;

$title-color:       #ffffff;
$moreinfo-color:    #aaaaaa;
$old-color:         #f3f3f3;
$hide-color:        #9377c9;


.widget-retention {

  background-color: $background-color;

  .title {
  	color: $title-color;
    font-size: 42px;
  	font-weight: bold;
  }

  .spacer {
  	color: $background-color;
  	display: inline-block;

  }

   .hide-text {
  		color: $hide-color;
  	}

  .retention-day {

    display: inline-block;

  	.new_title {
  		color: $title-color;
  		font-weight: bold;
  	}

  	.new_val {
  		color: $value-color;
  		font-size: 55px;

  	}

  	.old_title {
  		color: $old-color;
  		font-size: 25px;

  	}

  	.old_val {
  		color: $old-color;
  		font-size: 25px;

  	}

  	.hide-text {
  		color: $background-color;
  	}

  }


}