// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #f3f3f3;
$value-color:       #ffffff;

$title-color:       #ffffff;
$moreinfo-color:    #aaaaaa;
$old-color:         #f3f3f3;


// ----------------------------------------------------------------------------
// Widget-number styles
// ----------------------------------------------------------------------------
.widget-number {


  background-color: $background-color;

  .title {
    color: $title-color;
    vertical-align: top
    //font-family: 'Titillium Web', sans-serif;

  }

  .old_title {
    color: $old-color;
    display: inline-block;
   // font-family: 'Titillium Web', sans-serif;

  }

  .value {
    color: $value-color;
    //font-family: 'Titillium Web', sans-serif;

  }

  .old_value {
    color: $old-color;
    display: inline-block;
    //font-family: 'Titillium Web', sans-serif;

  }

  .last {
    color: $value-color;
    //font-family: 'Titillium Web', sans-serif;

  }

  .change-rate {
    font-weight: 500;
    font-size: 30px;
    color: $value-color;
   // font-family: 'Titillium Web', sans-serif;

  }

  .more-info {
    color: $moreinfo-color;
   // font-family: 'Titillium Web', sans-serif;

  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
   // font-family: 'Titillium Web', sans-serif;

  }

}
